.contact {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 2rem;
}

.contact-title {
  text-align: center;
}

.contact-address,
.contact-intro {
  text-align: center;
  font-size: 2rem;
}
