.menu {
  flex: 1 0 auto;
  width: 95%;
  margin: 2rem auto;
  align-items: center;
}

.menu-title,
.menu-intro {
  text-align: center;
  margin-top: 2rem;
}

.menu-pizza-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  margin-top: 1.5rem;
  justify-items: center;
}
