.menu-title,
.menu-intro {
  text-align: center;
  margin-top: 2rem;
}

.menu-pizza-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 1.5rem;
  justify-items: center;
}

.pizza-box {
  max-width: 40rem;
}
