.review-title {
  text-align: center;
  margin-top: 2rem;
}

.review {
  padding: 3rem;
  margin: 1rem auto;
  border: 1px solid black;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
  width: 80%;
  border: 0.5rem solid #f39c12;
  border-radius: 2rem;
}
